<div class="main-container">
<h3>Do You Know ?</h3>
<div class="why-slider-container">

    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <div class="para-container">

                    <p>In 2019, chronic respiratory diseases were the third-leading cause of death
                        <a href="#">Read More </a></p>
                </div>
            </div>
            <div class="slide">
                <div class="para-container">

                    <p>In 2019, chronic respiratory diseases were the third-leading cause of death
                        <a href="#">Read More </a></p>
                </div>
            </div>
            <div class="slide">
                <div class="para-container">

                    <p>In 2019, chronic respiratory diseases were the third-leading cause of death
                        <a href="#">Read More </a></p>
                </div>
            </div>
            <div class="slide">
                <div class="para-container">

                    <p>In 2019, chronic respiratory diseases were the third-leading cause of death
                        <a href="#">Read More </a></p>
                </div>
            </div>
            <div class="slide">
                <div class="para-container">

                    <p>In 2019, chronic respiratory diseases were the third-leading cause of death
                        <a href="#">Read More </a></p>
                </div>
            </div>
            <div class="slide">
                <div class="para-container">

                    <p>In 2019, chronic respiratory diseases were the third-leading cause of death
                        <a href="#">Read More </a></p>
                </div>
            </div>
            <div class="slide">
                <div class="para-container">

                    <p>In 2019, chronic respiratory diseases were the third-leading cause of death
                        <a href="#">Read More </a></p>
                </div>
            </div>

        </div>
    </div>
    
</div>
</div>