<div class="about-ai-dermo">
    <div class="img">
        <img src="assets/images/ai-health.png" alt="ai">
    </div>
    <div class="content">
    <h2>Revolutionizing Lungs Disease with AI</h2>
    <p>AI-based Intelligent took is revolutionizing health by harnessing the power of artificial intelligence to enhance
        diagnostics and treatment. Our AI dermatologist combines cutting-edge technology with the expertise of
        board-certified specialist to provide accurate and accessible X-Ray assessments. Whether it's identifying
        common conditions like Pneumonia or detecting potentially serious issues, our AI system empowers individuals to take
        proactive steps towards better Health.</p>
    <p>With our AI-based lungs disease classification service, you gain instant access to reliable x-ray assessments from the comfort of
        your home. 
        <!-- Our platform is user-friendly and confidential, ensuring your privacy is safeguarded. -->
         Say goodbye to
        long wait times and hello to timely, data-driven insights for better lungs health. Trust in AI for diagnosis of lungs disease
        , making it convenient, efficient, and tailored to your unique needs.</p>

    </div>
</div>