<div class="main-container">
    <br>
    <h3>Why XR- HEALTHCARE worth using?</h3>
    <br>
    <p class="para">XR- HEALTHCARE offers a promising solution to many of the challenges faced in traditional diagnostic techniques,  such as radiological imaging, accessibility, accuracy, and speed. It complements the expertise of diagnosis of lungs disease using x-ray and has the potential to improve patient outcomes while reducing healthcare costs.</p>
    <br>
    <br>
    <div class="info-box-container">
        <div class="info-box">
            <div class="img-container">
                <!-- <i class="fa fa-laptop fa-3x" aria-hidden="true"></i> -->
                <img src="assets/images/availability.png" alt="Availability">
            </div>
            <h6>Availability 24/7</h6>
            <div class="content">
                <p>
                    XR- HEALTHCARE are available round the clock, providing convenient access to medical professional's advice whenever patients need it.                </p>
            </div>
        </div>

        <div class="info-box">
            <div class="img-container">
                <img src="assets/images/construct.png" alt="accuracy">            
            </div>
            <h6>Accuracy & Consistency</h6>
            <div class="content">
                <p>
                    XR- HEALTHCARE break down geographical barriers. Patients in remote or underserved areas can access best care without the need for physical visits to specialized clinics.
                </p>
            </div>
        </div>

        <div class="info-box">
            <div class="img-container">
                <img style="width: 90px;" src="assets/images/speedo1.png" alt="Speed">
            </div>
            <h6>Speed</h6>
            <div class="content">
                <p>
                    AI-based disease diagnosis can deliver rapid results, which is crucial for early detection and timely treatment of lungs conditions. Patients receive diagnoses and recommendations more swiftly compared to traditional methods.                
                </p>
            </div>
        </div>

        <div class="info-box">
            <div class="img-container">
                <img src="assets/images/reduce-cost.png" alt="low cost">
            </div>
            <h6>Reduced Healthcare Costs</h6>
            <div class="content">
                <p>
                    By streamlining the diagnostic process and reducing the need for multiple in-person visits, XR- HEALTHCARE can contribute to cost savings for both healthcare providers and patients.
                </p>
            </div>
        </div>
    </div>
</div>